.back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 20px;
    border: solid 1px;
    border-radius: 50%;
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    text-align: center;
}

.back:hover {
    cursor: pointer;
    background-color: #555;
    transform: scale(1.1);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.back:active {
    background-color: #888;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #555;
    margin: 25px 0;
    padding: 20px 30px;
    border-radius: 7px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 8
}

.imgPreview {
    background-color: white;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}