.part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #555;
    margin: 25px 0;
    padding: 20px 30px;
    border-radius: 7px;
}

.part:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px;
    font-weight: bold;
}

.part:nth-child(odd) {
    background-color: #888;
}

.name {
    display: flex;
    flex: 3;
}

.index {
    padding-right: 25px;
    min-width: 30px;
}

.type-price {
    display: flex;
    justify-content: space-between;
    flex: 4;
}